- @results.each_with_index do |result, i|
  .col-xs-12.col-sm-6.col-md-4
    .playlist_box
      %img.center-block{alt: "", src: "#{result["artworkUrl100"]}", }
      %h3.playlist_name
        = link_to "#{result["artistName"]}",root_path, class: "text-success"
      %h3.playlist_name
        = link_to "#{result["trackName"]}", "#{result["previewUrl"]}"
      %audio{src: "#{result["previewUrl"]}", controls: true, autoplay: false, id: "song_num#{i}", class: "result_song", style: "width:283px;"}