- @results.each_with_index do |result, i|
  .col-xs-12.col-sm-6.col-md-4
    .playlist_box
      %img.center-block{alt: "", src: "#{result["artworkUrl100"]}", }
      %h3.playlist_name
        = link_to "#{result["artistName"]}",results_path(term: "#{result["artistName"]}", type: "link"), class: "text-success"
      %h3.playlist_name
        = link_to "#{result["trackName"]}",results_path(term: "#{result["trackName"]}", type: "link")
      .clearfix.audio-link-bar
        %audio.playlist-audio{src: "#{result["previewUrl"]}", controls: true, autoplay: false, id: "song_num#{i}", class: "result_song"}
        .itunes-link
          %a{href: "#{result["trackViewUrl"]}", target: "_blank"}
            %img.itunes-icon{src: "assets/itunes-icon.jpg", alt: "itunesで試聴"}
