- @results.each_with_index do |result, i|
  %li.media.center-block
    / .image-circle{style:"background-image: url(<%= result[:trackViewUrl] %>); height;10px; width: 10px; "}
    %img.img-circle.center-block{alt: "", src: "#{result["artworkUrl100"]}", }
    .media-body.text-center
      %span.text-muted.pull-right
      %p
        %strong
          = link_to "#{result["artistName"]}",root_path, class: "text-success"
        %p
          = link_to "#{result["trackName"]}", "#{result["previewUrl"]}"
        %p
          %audio{src: "#{result["previewUrl"]}", controls: true, autoplay: false, id: "song_num#{i}", class: "result_song"}
        = form_for([@playlist, @track]) do |f|
          = f.submit value: "Add to The Playlists", class: "btn btn-blue button_to_add_to_playlist"
    %hr