%body
  %header
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-blue.navbar-skelton
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            %span.glyphicon.glyphicon-headphones
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.col-md-4
            %li
              %a.btn{"data-toggle" => "modal", "data-target" => "#modal-example", :role => "button", class: ".modal_form_btn"}　Create Playlist
            %li.dropdown
              / %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              /   Dropdown
              /   %span.caret
              / %ul.dropdown-menu
              /   %li
              /     %a{:href => "#"} Action
              /   %li
              /     %a{:href => "#"} Another action
              /   %li
              /     %a{:href => "#"} Something else here
              /   %li.divider{:role => "separator"}
              /   %li
              /     %a{:href => "#"} Separated link
              /   %li.divider{:role => "separator"}
              /   %li
              /     %a{:href => "#"} One more separated link
          %form.navbar-form.navbar-right.col-md-4{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "Search Playlists", :type => "text"}/
            %a{href: "/playlists"}
              %button.btn.btn-default{:type => "submit"} Search
            }
          .col-md-4.center-block.navbar-center
            / = image_tag "cooltext162979135583535.png", alt: "Sample.fm -make your playlists by iTunes previews", height: "50px", width: "200px"
            %a{href: "/"}
              = image_tag "cooltext163050969447566.png", alt: "Sample.fm -make your playlists by iTunes previews", height: "50px", width: "200px"
  #modal-example.modal{:tabindex => "-1"}
    .modal-dialog
      / 3.モーダルのコンテンツ
      .modal-content
        / 4.モーダルのヘッダ
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#modal-label.modal-title Create Your Playlist
        / 5.モーダルのボディ
        / ここに内容を書く
        .modal-body
          = form_for (@playlist) do |f|
            .form-horizontal{:role => "form"}
              .form-group
                = f.label :title, class: "col-sm-3 control-label"
                .col-sm-7
                  = f.text_field :title, class: "form-control"
              .form-group
                = f.label :password, class: "col-sm-3 control-label"
                .col-sm-7
                  = f.password_field :password, class: "form-control"
              .form-group
                = f.label :memo, value: "Description", class: "col-sm-3 control-label"
                .col-sm-7
                  = f.text_area :memo, class: "form-control"
              /モーダルのフッター
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                = f.submit value: "Create", class: "btn btn-primary"

        / /.navbar-collapse
      / /.container-fluid
