!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SampleFm
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "jquery"
    = csrf_meta_tags
    %script{:src => "./jquery.min.js"}
    %script{:src => "./bootstrap-modal.js"}
    %script{:src => "./bootstrap-transition.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
